<div ng-controller='LoginCtrl'>
  <div layout="row" layout-align="center center">
    <div>
      <div class="md-subhead">
        
        Find words that you use, or Find people who were in your feed. 
              
      </div>

      <div class="md-subhead">
        It shows the statistical information about your personal page.
      </div>

    </div>


  </div>

  <div class="loginbutton" layout="row" layout-align="center center">
     <fb:login-button scope="public_profile,email, user_posts" data-size="xlarge" onlogin="checkLoginState();"></fb:login-button>         
  </div>


  
</div>


