<div ng-controller='MainCtrl' ng-cloak>
 

		<div layout="row" layout-xs="column" layout-align="space-around center">
       <div >
         <md-content>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
         </md-content>
      </div>
  
			<div class="md-button md-primary" ng-click="refresh()">Retrieve Information</div>
		</div>

	<div layout="row" layout-xs="column" layout-sm="column" >

	
  <div class = "databox" layout="column" layout-align="start center" flex>
  		<div layout="row"  layout-align="center center" class="md-subhead">{{data_name[0]}}</div>
   		<div ng-show="!done_p_info"> <md-progress-circular md-mode="indeterminate"></md-progress-circular></i></div>

      <div ng-if="done_p_info" class="fade">

        <div id = "info" layout="column" ng-model="data_about_me">
          <div>Name : {{data_about_me.name}}</div>
          <div>Total posts in your page : {{data_about_me.total_posts_in_feed}}</div>
          <div>Total people in your page : {{data_about_me.total_people_in_feed}}</div>
          <div>Number of profile update : {{data_about_me.total_profile_update}}</div>
          <div>Person who appears most : {{data_about_me.person_appear_most}}</div>
          <div layout="row" layout-align="space-around center"  layout-xs="column">
             <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">Most Favorite Profile</span>
          
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="center center">
          <div class="md-media-lg card-media">
              <div ng-show="!img_done"> <md-progress-circular md-mode="indeterminate"></md-progress-circular></i></div>

             <img id="img-box" ng-show="img_done" ng-src="{{most_likes_profile}}" >
          </div>

          <md-card-actions layout="column">
           
          </md-card-actions>
        </md-card-content>
      </md-card>

        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">Person who appears most</span>
          
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="center center">
          <div class="md-media-lg card-media">
            <div ng-show="!img_done"> <md-progress-circular md-mode="indeterminate"></md-progress-circular></i></div>

            <img id="img-box" ng-show="img_done" ng-src="{{most_visitied_profile}}" >
          </div>

          <md-card-actions layout="column">
           
          </md-card-actions>
        </md-card-content>
      </md-card>
          </div>
        </div>
           

      </div>
  </div>
   <div class = "databox" layout="column" layout-align="start none" flex>
   		<div layout="row"  layout-align="center center" class="md-subhead">{{data_name[1]}}</div>
   		<div layout="row"  layout-align="center center" ng-show="!done_visited"> <md-progress-circular md-mode="indeterminate"></md-progress-circular></i></div>

      <div ng-if="done_visited" class="fade">
        <div layout="row"  layout-align="center center">People who appears in your page</div>
        <div layout="row"  layout-align="center center">Number means the number of posts by the person</div>

        <nvd3 options="options_one" data="num_names_appear" ></nvd3>

      </div>
  </div>


	</div>

  <div layout="row" layout-xs="column" layout-sm="column" >

  
  <div class = "databox" layout="column" layout-align="start center" flex>
      <div class="md-subhead">{{data_name[2]}}</div>
      <div ng-show="!done_profile"> <md-progress-circular md-mode="indeterminate"></md-progress-circular></i></div>

      <div ng-if="done_profile" class="fade">
            <div layout="row" layout-align="center center" ng-if="noprofile">No profile update since {{myDate}}</div>
        
           <md-card ng-repeat = "value in profile_link" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Updated Time : {{value.created_time}}</span>
            <span class="md-subhead">Likes : {{value.likes}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media">
              <img id="medium-img" ng-src="{{value.link}}">
             
            </div>
          </md-card-title-media>
        </md-card-title>
      
      </md-card>


      </div>
  </div>
   <div class = "databox" layout="column" layout-align="start none" flex>
      <div layout="row" layout-align="center center" class="md-subhead">{{data_name[3]}}</div>
      <div layout="row" layout-align="center center" ng-show="!done_word"> <md-progress-circular md-mode="indeterminate"></md-progress-circular></i></div>

      <div layout="column" ng-if = "done_word" class="fade">

      
          <div layout="row"  layout-align="center center">Words that you and other people used in your page more than once</div>
          <div layout="row" layout-align="center center" id = "topwords">Top Five words</div>
          <div layout="row" layout-align="space-around center"> 
                <div ng-repeat = "i in [1,2,3,4,5]">
                  {{i}}.{{word_data[word_data.length-i].text}}
                </div>
          </div>
            
        <div layout="row" layout-align="center center" id = "topwords">Word Cloud</div>
         <div layout="row" layout-align="center center" ng-if="noword">No word cloud available</div>
       <div layout="row">
        <div flex="100">
           <jqcloud words="word_data"  height = "500" steps="7"></jqcloud>
        </div>
        
        </div>

      </div>
  </div>


  </div>

  <div layout="row" layout-xs="column" layout-sm="column" >

  
  <div class = "databox" layout="column" layout-align="start none" flex>
      <div layout="row" layout-align="center center" class="md-subhead">{{data_name[4]}}</div>
      <div layout="row" layout-align="center center" ng-show="!done_post"> <md-progress-circular md-mode="indeterminate"></md-progress-circular></i></div>
    
      <div layout="column" ng-if="done_post" class="fade">

        <div layout="row" layout-align="center center">
          Number of posts by dates
        </div>
        <div layout="row">
        <div flex="100">
          <nvd3 options="options_three" data="number_of_events" ></nvd3>
          
        </div>
           </div>
      </div>
  </div>
  


  </div>

  <div layout="row" layout-xs="column" layout-sm="column" >
 <div class = "databox" layout="column" layout-align="start none" flex>
      <div layout="row" layout-align="center center" class="md-subhead">{{data_name[5]}}</div>
      
      <div layout="row" layout-align="center center" ng-show="!done_network"> <md-progress-circular md-mode="indeterminate"></md-progress-circular></i></div>
      <div ng-if="done_network" layout="row" layout-align="center center">
         Group 1 : More than 10 posts, Group 2 : 7~10, Group 3 : 4~6, Group 4 : 0~3 
       </div>
      <div layout="row" ng-if="done_network" class="fade">

         <div flex="100">
        <nvd3 options="options_four" data="final_network" class="with-3d-shadow with-transitions"></nvd3>
       
          </div>
      </div>
  </div>
  </div>





</div>
